# MongoDB connection settings
MONGODB_URI=mongodb+srv://your-mongodb-uri
DATABASE=your-database-name

# Access Token settings
ACCESS_TOKEN_EXPIRATION_MINUTES=60
ACCESS_TOKEN_SECRET=your-access-token-secret

# Refresh Token settings
REFRESH_TOKEN_EXPIRATION_DAYS=30
REFRESH_TOKEN_SECRET=your-refresh-token-secret

# API Token
API_TOKEN=your-api-token
